.container{
    width: 100%;
    margin: auto;
}
.nav-1{
    
}
.nav-2{
}
.nav-3{
}
.nav-4{
}
.nav-5{
    width: 28px;
    height: 28px;
}

.nav-5 img {
    width: 28px;
    height: 28px;
}